body{
    color: rgb(243, 243, 243);
    background: rgb(180, 99, 255);
}
header{
    border-bottom: solid 2px rgb(rgb(255, 255, 255));
    padding: 20px;
    font-size: 32px;
    color:black;
    background: rgb(255, 255, 255);
}
.chamada {
    background: rgb(180, 99, 255);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}